.page {
  background-color: #eeeeee;
  padding: 20px;
  min-height: 100vh;
}
.input-group-text {
    background-color:#1E90FF;; 
    border-color: #1E90FF;; 
    color: #000000; 
    cursor: pointer; 
  }
